#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=False
Exec=/usr/local/cuda/nsight-compute-2019.4.0/nv-nsight-cu
Name=Nsight Compute
Comment=Nsight Compute
Icon=/usr/local/cuda/nsight-compute-2019.4.0/host/linux-desktop-glibc_2_11_3-x64/nv-nsight-cu.png
